/* 表格页面样式 */

.data-table {
	.page-title{
		color: rgba(0,0,0,.85);
		font-weight: 600;
		font-size: 20px;
		line-height: 32px;
		margin-top: 0;
		padding-bottom: 10px;
	}

	.search-btn{
		cursor: pointer;
	}

	.table-toolbar{
		float: left;

		.el-button+.el-button{
			margin-left: 4px;
		}

		.el-button--mini, .el-button--mini.is-round{
			padding: 7px 10px;
		}
	}
	
	.table-features{
		float: right;
		padding-left: 16px;

		.table-search{
			width: 200px;
			display: inline-block;
			margin-right: 6px;
		}

	}

	.table-tag{
		margin-right: 4px;
	}

	#pagination{
		margin: 16px 0;
		float: right;

		.el-pagination{
			font-weight: 500;
		}
	}

	.disabled-btn{
		cursor: pointer;
	}
}

/* 筛选样式 */
.filter-box{
	margin-bottom: 24px;

	.el-form-item{
		padding-left: 12px;

		.el-select{
			width: 100%;
		}

		.el-date-editor{
			width: 100%;
		}

		.el-range-separator{
			width: 20px;
		}

		&:nth-child(4n+0){
			padding-left: 20px;
		}


	}

	.el-col:nth-child(4n+1) .el-form-item{
		padding-left: 0;
	}


	.filter-toolbar{
		text-align: right;
		height: 40px;
		line-height: 40px;
	}
}